<mat-toolbar class="tool-bar">
    <mat-toolbar-row>
        <img class="tool-bar-image" src="../../../assets/images/logo.png">
    </mat-toolbar-row>
</mat-toolbar>

<div class="card-container">
    <mat-card class="card" *ngFor="let category of categories" (click)="selectCategory(category.id)">
        <mat-card-header class="card-header">
            <!-- <div mat-card-avatar class="card-header-image"></div> -->
            <mat-card-title class="card-header-title">{{category.name}}</mat-card-title>
            <!--  <mat-card-subtitle class="card-header-subtitle">Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <!-- <img mat-card-image class="card-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content class="card-content">
            <p>
                {{category.description}}
            </p>
        </mat-card-content>
    </mat-card>
</div>

<div class="card-container">
    <mat-card class="card" *ngFor="let post of selectedPosts" (click)="navigateToArticle(post.articleLink)">
        <mat-card-header class="card-header">
            <!-- <div mat-card-avatar class="card-header-image"></div> -->
            <mat-card-title class="card-header-title">{{post.title}}</mat-card-title>
            <!--  <mat-card-subtitle class="card-header-subtitle">Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <!-- <img mat-card-image class="card-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <img mat-card-image class="card-image" src="{{post.imageUrl}}">
        <mat-card-content class="card-content">
                {{post.excerpt}}
        </mat-card-content>
    </mat-card>
</div>


<div class="chat">
    <div class="chat-header">
        <img class="chat-header-image" src="../../../assets/images/logo.png">
    </div>
    <div class="chat-body">
        <div class="chat-row" *ngFor="let message of messages" [ngClass]="getMessageDirection(message) ? 'outgoing' : 'ingoing'">
            {{message.value}}
        </div>
    </div>
    <hr>
    <div class="chat-footer">
        <mat-form-field>
            <input matInput [(ngModel)]="messageInput">
        </mat-form-field>
        <button mat-button (click)="sendMessage()">
            <i class="material-icons">send</i>
        </button>
    </div>
</div>